@{
    ViewData["Title"] = "register";
}

<div class="text-center">
    <h1 class="display-4">Signin Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="w-full min-vh-100 bg-black">
    <div class="w-full p-3 border-white bg-white">
        Signin page
    </div>

</div>